@charset "utf-8";
/* CSS Document */
#coin-slider {margin:0 auto;width:951px;height:383px;background:url(../images/loader.gif) 50% 50% no-repeat;position:relative;overflow:hidden;}
#coin-slider img{display:none;}
#coin-slider img.first{display:block;}

#coin-slider .banner{
	color: #444343;
	position: absolute;
	right: 26px;
	top: 330px;
	width: 500px;
	overflow: hidden;
	opacity: 0;
	z-index: 19;
	font-size: 25px;
	background: url(../images/banner_big.png) 100% 0 no-repeat;
	text-transform: uppercase;
	padding: 24px 0 24px 78px;
	height: 107px;
}

#coin-slider .banner a{
	position: absolute;
	left: 7px;
	top: 7px;
	width: 65px;
	height: 61px;
	display: block;
	background: url(../images/banner-link.png) 0 0 no-repeat;
}
#coin-slider .banner a:hover{background:url(../images/banner-link.png) 0 -61px no-repeat;}
.coin-slider {
	position: relative;
	margin:0 auto 53px;
	width:950px;
	padding-bottom:1px;
	padding:20px;
}
.coin-slider a { text-decoration: none; outline: none; border: none; }
.cs-buttons {position:absolute;left:50%;bottom:-30px;font-size:0;line-height:0;overflow:hidden;z-index:200;margin-left:-34px;}
.cs-buttons a {display:inline-block;width:14px;height:14px;margin:0 4px 0 0;font-size:0;line-height:0;overflow:hidden;background:url(../images/cs.png) 100% 0;}
.cs-buttons a.cs-active, .cs-buttons a:hover {background:url(../images/cs.png) 0 0;}
.cs-buttons a.cs-active{cursor:default;}
