<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
          <div id="back-top">
            <a href="#top" title="回到顶部"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>

<!-- js for back to top -->
<script>

$("#back-top").hide();
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 800);
    return false;
  });
});
</script>

<!-- CSS for back to top -->
<style type="text/css">
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 1040px;
}
#back-top a {
  width: 54px;
  height: 54px;
  display: block;
  background: #ddd url(../img/bgs/bg_up_arrow.png) no-repeat center center;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: #777;
}
</style>
